body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/*NAV HEADER */

li,
a {
    font-weight: 500;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 13.5%;
}

.headerNav {
    display: flex;
    list-style: none;
}

ul {
    margin: 0 -3px;
    padding: 0 -3px;
}

.headerNav li {
    display: inline-block;
    justify-content: top;
    padding: 0;
    margin: 0;
}

.LogoReservia {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 3em;
}

.nav1 {
    padding: 1.9em;
    color: black;
    transition-duration: 0.2s;
    border-top: 3px transparent solid;
}

.nav1:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.nav2 {
    padding: 1.9em;
    color: black;
    transition-duration: 0.2s;
    border-top: 3px transparent solid;
}

.nav2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.nav3 {
    display: flex;
    padding: 1.9em;
    color: #0065FC;
    font-weight: bolder;
    border: 3px transparent solid;
}

main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}


/*FIN NAVHEADER*/

.TitreRecherche {
    display: block;
    font-size: 2em;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

p {
    display: block;
    font-weight: lighter;
}

.SearchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.SearchSpanIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25em;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    margin-top: 1rem;
    height: 1.2rem;
}

.InputSearch {
    padding-right: 2rem;
    padding-left: 1.8rem;
    margin-top: 1rem;
    text-align: left;
    border-radius: 3px;
    height: 3.2rem;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: #F2F2F2 1px solid;
    border-right: white 1px solid;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 0.8rem;
}

.Searchbutton {
    padding-right: 2rem;
    height: 3.2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: #F2F2F2 1px solid;
    font-weight: bold;
    font-family: "Raleway";
    color: #ffffff;
    cursor: pointer;
}

.SpanText {
    padding-left: 1.2rem;
    font-size: medium;
    color: white;
}


/*Filtre de recherche */

.SearchFiltres {
    display: flex;
    margin-top: 0.75rem;
    height: auto;
    width: auto;
}

.TitleFiltres {
    display: flex;
    margin: 1rem 2rem 2rem 0rem;
    padding-top: 1.5rem;
}


/*ECONOMIQUE*/

.FiltreEco {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1.75rem;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    height: 3rem;
}

.FiltreEco:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.FiltreIcon1 {
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 100%;
    background-color: #c5dcff;
    height: 3.5rem;
    width: 3.5rem;
}

.fa-money-bill-wave {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 1rem;
    padding-right: 1rem;
    color: blue;
}

.SpanEco {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}


/*FAMILIAL*/

.FiltreFamilles {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.75rem;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    height: 3rem;
}

.FiltreFamilles:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.FiltreIcon2 {
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 100%;
    background-color: #c5dcff;
    height: 3.5rem;
    width: 3.5rem;
}

i.fa-child {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 1.3rem;
    padding-right: 1rem;
    color: blue;
}

.SpanFamilles {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}


/*ROMANTIQUE*/

.FiltreRomantique {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.75rem;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    height: 3rem;
}

.FiltreRomantique:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.FiltreIcon3 {
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 100%;
    background-color: #c5dcff;
    height: 3.5rem;
    width: 3.5rem;
}

i.fa-heart {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    padding-right: 1rem;
    color: blue;
}

.SpanRomantique {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}


/*Animeaux*/

.FiltreAnimaux {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.75rem;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    height: 3rem;
}

.FiltreAnimaux:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.FiltreIcon4 {
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 100%;
    background-color: #c5dcff;
    height: 3.5rem;
    width: 3.5rem;
}

i.fa-dog {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1.1rem;
    padding-right: 1rem;
    color: blue;
}

.SpanAnimaux {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}


/*Infos Resultat*/

.InfosResult {
    display: flex;
    align-items: center;
    height: 5rem;
}

.fa-info {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 3rem;
    color: #0065FC;
    border: #d9d9d9 2px solid;
}


/*SECTION HEBERGEMENT*/

.SecHebergement {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.Titlemarseille {
    margin: 2rem 0 0 2rem;
}

.HebergementMarseille {
    display: block;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
}

.ContenantHebergement {
    display: flex;
    justify-content: space-around;
}


/*ARTICLE1*/

.Article1 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle1 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle1 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle1 {
    margin-top: -1rem;
}

.StarsArticle1 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article1:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*ARTICLE2*/

.Article2 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle2 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle2 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle2 {
    margin-top: -1rem;
}

.StarsArticle2 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article2:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*ARTICLE3*/

.Article3 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle3 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle3 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle3 {
    margin-top: -1rem;
}

.StarsArticle3 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article3:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*DIVHEBERGEMENT2*/

.divhebergement2 {
    display: flex;
    justify-content: space-around;
}


/*ARTICLE4*/

.Article4 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle4 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle4 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle4 {
    margin-top: -1rem;
}

.StarsArticle4 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article4:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*ARTICLE5*/

.Article5 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle5 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle5 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle5 {
    margin-top: -1rem;
}

.StarsArticle5 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article5:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*ARTICLE6*/

.Article6 {
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 2rem 1rem;
    padding: 0.3rem 0.3rem 0 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle6 {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.ContenantArticle6 {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    position: relative;
    left: 15px;
}

.PriceArticle6 {
    margin-top: -1rem;
}

.StarsArticle6 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 0.4rem;
    position: relative;
    left: 15px;
}

.Article6:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*CSS stars*/

.fa-star {
    color: #0065FC;
}

.stargrey {
    color: #d9d9d9;
}

.ShowMore {
    margin-left: 2rem;
    cursor: pointer;
}


/*ASIDE*/

.SidePopulaire {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
}

.TitlePopulaire {
    margin: 1.5rem 0 0 2rem;
    font-size: x-large;
}

.Popular3art {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-chart-line {
    margin-left: 8rem;
}


/*SideArticle1*/

.SideArticle1 {
    display: flex;
    height: 8.4rem;
    width: 23rem;
    margin: 2rem;
    background-color: white;
    padding: 0.2rem 0.2em 0rem 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.ImgArticle7 {
    display: flex;
    height: 130px;
    width: 140px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.ContenantArticle7 {
    display: flex;
    flex-direction: column;
    margin: -1rem 0 0 1rem;
}

.PriceArticle7 {
    margin-top: -0.5rem;
}

.starsh7 {
    display: flex;
    position: relative;
    top: 30px;
}

.SideArticle1:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*SideArticle2*/

.SideArticle2 {
    display: flex;
    height: 8.4rem;
    width: 23rem;
    margin: 2rem;
    background-color: white;
    padding: 0.2rem 0.2em 0rem 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.imgh8 {
    height: 130px;
    width: 140px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.ContenantArticle8 {
    display: flex;
    flex-direction: column;
    margin: -1rem 0 0 1rem;
}

.PriceArticle8 {
    margin-top: -0.5rem;
}

.starsh8 {
    display: flex;
    position: relative;
    top: 20px;
}

.SideArticle2:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*SideArticle3*/

.sidearticle3 {
    display: flex;
    height: 8.4rem;
    width: 23rem;
    margin: 2rem;
    background-color: white;
    padding: 0.2rem 0.2em 0rem 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.imgh9 {
    height: 130px;
    width: 140px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.contenantarticle9 {
    display: flex;
    flex-direction: column;
    margin: 0rem 0 0 1rem;
}

.ph9 {
    margin-top: -0.5rem;
}

.starsh9 {
    display: flex;
    position: relative;
    top: 20px;
}

.sidearticle3:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*SECTION ACTIVITES*/

._activites {
    display: flex;
    border-radius: 1rem;
}

.acth2 {
    margin-top: 2rem;
}


/*Contenant1*/

.act_contenant1 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact1 {
    height: 485px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titleport {
    margin-left: 1rem;
}

.act_contenant1:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenant2*/

.act_contenant2 {
    display: flex;
    flex-direction: column;
}


/*Contenu_1*/

.act_contenu_1 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin-left: 2rem;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact2 {
    height: 230px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titlefort {
    margin-left: 1rem;
}

.act_contenu_1:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenu_2*/

.act_contenu_2 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin: 2rem;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact3 {
    height: 160px;
    width: 315px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titlefrioul {
    margin-left: 1rem;
}

.act_contenu_2:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenant3*/

.act_contenant3 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact4 {
    height: 485px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titlecalan {
    margin-left: 1rem;
}

.act_contenant3:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenant4*/

.act_contenant4 {
    display: flex;
    flex-direction: column;
}


/*Contenu_3*/

.act_contenu_3 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin-left: 2rem;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact5 {
    height: 170px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titlenotredame {
    margin-left: 1rem;
}

.act_contenu_3:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenu_4*/

.act_contenu_4 {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin: 2rem;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact6 {
    height: 220px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.titlelongchamp {
    margin-left: 1rem;
}

.act_contenu_4:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*FOOTER*/

.footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    padding: 2rem 2rem 3rem 2rem;
}


/*.propos{
                    display: flex;
                    
                    flex-direction: column;
                    justify-content: space-between;
                    }
                    
                    .nosheberg{
                    display: flex;
                    
                    flex-direction: column;
                    }
                    
                    .assistance{
                    display: flex;
                    
                    flex-direction: column;
                    */

.nocolors {
    text-decoration: none;
    color: black;
}

.nocolors2 {
    color: black;
    font-weight: 200;
    margin: 0.5rem 0;
}

.nocolors2:hover {
    text-decoration: underline;
}

.footer_block {
    width: 33.33333333333%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}