body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/*HEADER*/

html,
body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

div#blocLogo {
    flex-grow: 1;
    padding-top: 2rem;
}

li,
a {
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    flex-basis: 20%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    text-align: center;
    flex-basis: 40%;
}

nav a,
#lienInscription {
    display: block;
    color: black;
    transition-duration: 0.2s;
    border-top: 3px transparent solid;
    padding-top: 2rem;
}

#lienInscription {
    color: #0065FC;
    font-weight: bold;
    padding-left: 1rem;
}

nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

@media screen and (max-width: 650px) {
    header nav {
        order: 2;
        flex-basis: 100%;
    }
    nav a {
        border-top: none;
        border-bottom: 3px grey solid;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    header nav ul {
        width: 100%;
        padding: 0px;
    }
    nav ul li {
        flex-basis: 50%;
    }
}


/*Zone de Recherche*/

.TitreRecherche {
    display: block;
    font-size: 2em;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

p {
    display: block;
    font-weight: lighter;
}

.SearchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.SearchSpanIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25em;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    margin-top: 1rem;
    height: 1.2rem;
}

.InputSearch {
    padding-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    border: #F2F2F2 1px solid;
}

.Searchbutton {
    padding-right: 2rem;
    margin-top: 1rem;
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: #F2F2F2 1px solid;
    cursor: pointer;
}

.SpanText {
    padding-left: 1.2rem;
    font-size: medium;
    color: white;
}


/*Filtres*/

.SearchFiltres {
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

.TitleFiltres {
    margin: 1rem 2rem 2rem 0rem;
    padding-top: 1.5rem;
}

.FiltreTicket {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1.75rem;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    height: 3rem;
}

.FiltreTicket:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.FiltreIcon {
    display: flex;
    border-radius: 100%;
    background-color: #c5dcff;
    height: 3.5rem;
    width: 3.5rem;
}

.TicketDescription {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}

i.fa-heart,
i.fa-dog,
i.fa-child,
.fa-money-bill-wave {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    margin-left: 1.2rem;
    padding-right: 1rem;
    color: blue;
}

.fa-money-bill-wave {
    margin-top: 1.2rem;
    margin-left: 1rem;
}

i.fa-child {
    margin-left: 1.4rem;
}


/*Infos Resultat*/

.InfosResult {
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;
    margin-top: 0.3rem;
}

.fa-info {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 3rem;
    color: #0065FC;
    border: #d9d9d9 2px solid;
}


/*SECTION HEBERGEMENT*/

#hebergements {
    display: flex;
    width: 100%;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 0 2rem;
}

.left-side {
    flex-basis: 66%;
    margin-right: 3%;
}

.right-side {
    flex-basis: 31%;
    position: relative;
}

#hebergements h2 {
    margin-left: 0;
    margin-bottom: 0;
    font-size: x-large;
}

.fa-chart-line {
    float: right;
}

.bloc-3-hebergements {
    display: flex;
}

.bloc-hebergement,
.bloc-populaire {
    color: black;
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    background-color: white;
    box-shadow: 0 0 14px #0000002e;
    margin: 1rem 0 1rem 1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.bloc-populaire {
    flex-direction: row;
    width: 100%;
    margin: 1.5rem 0;
    padding: 0;
}

.bloc-populaire:first-child {
    margin-top: 1rem;
}

.bloc-3-hebergements .bloc-hebergement:first-child {
    margin-left: 0;
}

.bloc-hebergement>img,
.bloc-populaire>img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.bloc-populaire>img {
    max-width: 35%;
    border-radius: 1rem 0 0 1rem;
    padding: 0.3rem;
}

.bloc-hebergement div.description,
.bloc-populaire div.description {
    display: flex;
    flex-direction: column;
    padding: 0 0 0.4rem 0.5rem;
}

.bloc-populaire div.description {
    padding-top: 0.3rem;
}

.bloc-hebergement div.description h4,
.bloc-populaire div.description h4 {
    margin: 0;
}

.bloc-hebergement div.description,
div.prix,
div.note {
    margin-top: 0.3rem;
}

.bloc-populaire div.prix {
    margin-top: 0.5rem;
}

.btn-plus {
    margin-left: 1rem;
    cursor: pointer;
}

.bloc-populaire div.remplissage {
    flex: 1;
}

.bloc-populaire:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.bloc-hebergement:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*CSS stars*/

.fa-star {
    color: #0065FC;
}

.stargrey {
    color: #d9d9d9;
}

@media (max-width: 750px) {
    .left-side {
        margin: 0;
        order: 2;
        margin-top: 1rem;
    }
    section#hebergement {
        flex-direction: column;
    }
    .left-side,
    .right-side {
        flex-basis: 100%;
        border-radius: 0;
    }
}


/*Activite*/

.SecActivite {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 3rem 0;
}

._activites {
    display: flex;
    border-radius: 1rem;
    margin: 0rem 0 2rem 0;
}


/*Contenant1*/

.act_contenant {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.pictureact1 {
    height: 485px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.desc-act {
    margin-left: 1rem;
}

.act_contenant:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenant2*/

.act_contenant2 {
    display: flex;
    flex-direction: column;
}


/*Contenu_1*/

.act_contenu,
.act_contenu1,
.act_contenu2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
    width: max-content;
    margin: 0 2rem;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
}

.act_contenu1,
.act_contenu2 {
    margin-bottom: 2rem;
}

.pictureact2 {
    height: 230px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.act_contenu:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenu_2*/

.pictureact3 {
    height: 160px;
    width: 315px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.act_contenu1:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*Contenant3*/

.pictureact4 {
    height: 485px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}


/*Contenant4*/

.act_contenant4 {
    display: flex;
    flex-direction: column;
}


/*Contenu_3*/

.pictureact5 {
    height: 170px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}


/*Contenu_4*/

.pictureact6 {
    height: 220px;
    width: 320px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.act_contenu2:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.nocolors {
    color: black;
}


/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 82%;
    display: flex;
    padding: 2rem 9%;
}

footer div {
    width: 33.333333333%;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
    margin-top: 0.7rem;
}

footer a {
    color: black;
    font-weight: 200;
    margin: 0.5rem 0;
}

footer a:hover {
    text-decoration: underline;
}